{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Home - OCR</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style type="text/css">
    body {
      background-image: url("{% static "img/fondo.png" %}");
      background-repeat: repeat;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>
<body>

  <!-- As a link -->
  <nav class="navbar navbar-light bg-light" style="background-color: #003366 !important;">
    <a class="navbar-brand" href="/"><img src="{% static "img/logo.png" %}"></a>
    <a href="/" class="btn btn-primary">Agregar foto</a>
  </nav>

  <div class="container" style="background-color:white;">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Texto extraido</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Relacion Excel</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <ul>
            <div class="row">
            {% for name in names_found %}
              <div class="col-4">
                <li>{{name}}</li>
              </div>
            {% endfor %}
            </div>
          </ul>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <ul>
              <div class="row">
              <table>
                <tr>
                  <th>NOMBRE</th>
                  <th>REGISTRO SIP</th>
                  <th>TIPO DE INVESTIGACIÓN</th>
                  <th>TITULO DE PROYECTO</th>
                  <th>ADSCRITO</th>
                  <th>NIVEL</th>
                  <th>CARRERA</th>
                  <th>GRADO ACADEMICO</th>
                </tr>
                {% for related_name in related_names %}
                  <tr>
                    <td>{{related_name.2}}</td>
                    <td>{{related_name.1}}</td>
                    <td>{{related_name.4}}</td>
                    <td>{{related_name.5}}</td>
                    <td>{{related_name.8}}</td>
                    <td>{{related_name.9}}</td>
                    <td>{{related_name.10}}</td>
                    <td>{{related_name.11}}</td>
                  </tr>
                {% endfor %}
              </table>
              </div>
            </ul>
            <a href="{{ image.export }}" class="btn btn-success">Exportar resultados</a>
        </div>
      </div>
  </div>

  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>